@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


.conteiner {
    display: block;
    max-width: 400px;

    margin: 30px 0;
}

main {
    background-color: #0bcc92;
    min-height: 500px;
    padding: 10px 20px;
    border-radius: 0 0 10px 10px;
    box-shadow: 8px -5px 91px -11px rgba(0, 0, 0, 0.53);
}

.itensMain {
    display: block;
    margin: auto;
}

header {
    background-color: #202022;
    color: #ffffff;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    text-align: center;
}

header h1 {
    font-size: 1.8em;
}

label {
    font-size: 17px;
}

select {
    background-color: #fff;
    border: none;
    border-radius: 7px;
    box-shadow: 7px 7px 7px #0000001c;
    outline: none;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

select::after {
    padding: 30px;
}

select:optional {
    padding: 10px;
}

#add-value {
    border: none;
    border-radius: 7px;
    outline: none;
    display: block;
    width: 94%;
    padding: 10px;
}

#converter-value {
    background-color: #2e2e2e;
    color: #fff;
    display: block;
    cursor: pointer;
    border: none;
    border-radius: 0 20px 0 20px;
    box-shadow: 7px 7px 7px #0000001c;
    width: 70%;
    margin: auto;
    padding: 10px;
    transition: all .7s;
}

#converter-value:hover {
    background-color: #202022;
    border-radius: 20px 0 20px 0;
}

.area-response {
    display: none;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    text-align: center;
    padding: 10px;
}

.area-response p {
    font-size: 20px;
    margin: 0;
    padding: 10px 0;
}

img {
    display: block;
    margin: auto;
}

.seta {
    color: #494949;
    display: block;
    filter: drop-shadow(0 0 0.2em rgba(4, 233, 157, 0.507));
    font-size: 50px;
}


@media screen and (max-width: 500px) {
    .conteiner {
        margin: 0 auto;
    }

    header {
        border-radius: 0;
    }

    body {
        background-color: #0bcc92;
    }

    main {
        box-shadow: 0 0 0 0;
        min-height: 100px;
        border-radius: 0;
        min-height: 10px;
    }
}